@import "../../styles/main.scss";

.layout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorCodeLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "OKDDUNG";
  font-size: 7rem;
  margin-right: 8rem;

  color: $DDBlack;
  .Code {
    font-size: 10rem;
  }
}

.infoLayout {
  max-width: 34rem;
  font-family: "TheJamsil";
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.errorMessage {
  height: 6rem;
  font-weight: 100;
  font-size: 2.6rem;
}

.homeButton {
  font-size: 2.2rem;
  background-color: $DDYellow;
  color: $DDWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 300;
}
