@import "../../styles/main.scss";

.footer {
  width: 100%;
  height: 140px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  background: linear-gradient(white, $DDYellow);
  font-weight: 100;
}

.company {
  color: $DDGreen;
  font-weight: 400;
  margin-bottom: 14px;
}
.info {
  width: 100%;
  display: flex;
  justify-content: center;
  span {
    display: inline-block;
    margin: 0px 10px;
  }
}

.policy {
  cursor: pointer;
}
