@font-face {
  font-family: "OKDDUNG";
  src: url("../assets/fonts/OK DDUNG.woff2") format("woff2");
}

@font-face {
  font-family: "TheJamsil";
  src: url("../assets/fonts/The Jamsil 1 Thin.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "TheJamsil";
  src: url("../assets/fonts/The Jamsil 2 Light.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "TheJamsil";
  src: url("../assets/fonts/The Jamsil 3 Regular.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "TheJamsil";
  src: url("../assets/fonts/The Jamsil 4 Medium.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "TheJamsil";
  src: url("../assets/fonts/The Jamsil 5 Bold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "TheJamsil";
  src: url("../assets/fonts/The Jamsil 6 ExtraBold.woff2") format("woff2");
  font-weight: 600;
}
