@import "../../styles/main.scss";

.layout {
  position: relative;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3rem 0.5rem;

  border: 2px rgba($color: $DDLightGray, $alpha: 0) solid;
  border-radius: 1rem;
  &:hover {
    border-color: rgba($color: $DDLightGray, $alpha: 0.4);
  }
}

.image {
  height: inherit;
  width: inherit;
  overflow: hidden;
  cursor: pointer;
  img {
    width: inherit;
  }
}
.image:hover + .likeBtn {
  display: inline;
}

.likeBtn {
  display: none;
  position: absolute;
  background-color: unset;
  border: unset;
  font-size: 1.6rem;
  right: 0;
  top: 0;
  margin: 0.5rem;
  cursor: pointer;
}
.likeBtn:hover {
  display: inline;
  transform: scale(1.2);
  animation-duration: 1s;
}

.name {
  margin-top: 0.6rem;
  font-size: 0.9rem;
  font-family: TheJamsil;
  font-weight: 200;
  width: inherit;
  cursor: pointer;
}
.name:hover {
  opacity: 0.8;
}
